@font-face {
    font-family: "KyivTypeTilting";
    src: url("/fonts/KyivTypeTitling-VarGX.ttf");
  }

  body {
    margin: 0;
	  font-family: "KyivTypeTilting";
    font-size: 2.5rem;
	  color: #ffffff;
  }

  .homepage {
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #cdd4cd;
    position: relative;
    
    font-family: "KyivTypeTilting";
  }

  .homepage .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }